<header class="border-b-4 border-gray-600 border-t-8 bg-pink-600 mb-1">
    <div
    style="background-image: url({{ '/assets/img/white.jpg' | url }})"
    class="flex items-center bg-no-repeat bg-center bg-scroll bg-cover border-b-8 border-pink-300 h-40 md:h-80 lg:h-96"
    >
    <h1 class="bg-pink-300 bg-opacity-20 p-5 mx-auto text-center md:text-4xl lg:text-5xl xl:text-6xl"><a class="text-pink-600 no-underline" href="{{ '/' | url }}">{{ metadata.title | lower }}</a></h1>
    </div>

    <nav>
    {% include "components/navigation.njk" %}
    </nav>

</header>
