<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/tailwind.css' | url }}">
  </head>
  <body class="font-roboto">

    {% include "components/header.njk" %}

    <main{% if templateClass %} class="{{ templateClass }} container mx-auto"{% endif %}>
      {{ content | safe }}
    </main>

    {% include "components/footer.njk" %}

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
