---
layout: layouts/base.njk
templateClass: one-col
---
<section class="md:px-10 lg:px-20 xl:px-40">
    <div class="py-5 shadow-2xl mb-10">

        <article class="px-5">
            <h1>{{ title }}</h1>

            {% if youtube %}
                {% include "components/youtube.njk" %}
            {% endif %}

            {{ content | safe }}
        </article>

        {% if blocks %}
            <div class="lg:grid lg:grid-cols-2 lg:gap-4">
                {% if blocks.left %}
                    <div class="col-left {{ 'px-5 lg:col-span-1' if blocks.right else 'lg:col-span-2' }}">
                        {% for block in blocks.left %}
                            <div class="{{ 'bg-gray-200' if blocks.right else 'white' }} p-5 mb-10 shadow-2xl">
                                {% include block %}
                            </div>
                        {% endfor%}
                    </div>
                {% endif %}

                {% if blocks.right %}
                    <div class="col-right lg:col-span-1">
                        {% for block in blocks.right %}
                            <div class="bg-gray-200 p-5 mb-10 shadow-2xl">
                                {% include block %}
                            </div>
                        {% endfor%}
                    </div>
                {% endif %}
            </div>
        {% endif %}

    </div>
</section>
