<section>
  {% set photos = collections.photos %}
  <div class="lg:grid lg:grid-cols-4 lg:gap-4">
    {% for photo in photos %}
      <div class="pb-10 lg:p-0">
          <a class="block aspect-w-4 aspect-h-3" href="{{ photo.url | url }}">
              <img alt="{{ photo.data.alt }}" src="{{ photo.data.thumb }}" />
          </a>
          <div>
            <a href="{{ photo.url | url }}">
              {{ photo.data.title }}
            </a>
          </div>
      </div>
    {% endfor %}
  </div>
</section>
